@import '../../styles/_variables.scss';

.homeViewSection {
  padding: 64px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .contentWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    .logoWrapper {
      width: 100%;

      img {
        display: block;
        width: 100%;
        max-width: 1000px;
        height: auto;
        margin: 0 auto;
      }
    }

    .description {
      font-size: $font_size_extended;
      color: $font_color_gray;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      max-width: 500px;
      margin: 0 auto 64px auto;
    }
  }

  .descriptionFooter {
    display: flex;
    justify-content: space-between;

    .subject {
      color: $font_color_gray;
    }

    .authors {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
          color: $font_color_gray;
          text-align: right;
        }
      }
    }
  }
}
