$color_gray: rgba(0,0,0, 0.57);
$color_blue: #284C8E;

$font_size_basic: 18px;
$font_size_extended: 24px;

$font_color_gray: rgba(0, 0, 0, 0.57);

$transition_basic: all 0.3s ease-in-out;

$box_shadow_basic: 2px 2px 6px rgba(0, 0, 0, 0.57);
